@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">ASP.NET Core with Ract componets demo</h1>
    <p>Based on <a href="https://reciosonny.com/how-to-integrate-reactjs-in-existing-asp-net-mvc-app/">How to integrate ReactJS in existing ASP.net MVC app</a>.</p>

    <div id="hello-world"></div>
    <div id="parent"></div>

    <script src="~/dist/helloworld.js"></script>
    <script src="~/dist/parent.js"></script>
</div>
